.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

body {
    min-height: 2000px;
    padding-top: 70px;
}

.search-nav{
    padding-top: 0.25em;
}

.search-nav input{
    width:20em;
}

.second-col{
    padding-top:4.1em;
}

.media-icons{
    font-size: 2em;
}
.navbar-brand {
    padding-bottom: 0.4em;
}

.top-2{
    padding-top: 2em;
}
#socialmedia{
    background: #fff;
}

.twit {
    min-height: 20em;
}

.twit-icon{
    font-size: 1.25em;
    color: #1da1f2;
}

#mainstory{
    background: #E8E8E8;
}

#mainstory h2{
    font-size: 30px;
    padding-bottom: 1em;
}

#news img{
    border-bottom: 5px solid #c52d2f;
    position: relative;
    top: 100%;
    transform: translateY(-0%);
}

#events{
    background: #f5f5f5;
}

.event-date{
    background: #c52d2f;
    color: #fff;
    border-bottom: 4px solid #30393a;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.event-body{
    background: #fff;
    margin-right: 2em;
}

.alt-a{
    color: #4e4e4e;
    text-decoration: underline;
}

.alt2-a{
    color: #4e4e4e;
}

h1{
    color: #4e4e4e;
}

.p-section{
    margin-top: 4em;
}

.spaced-list li{
    margin: 0 0 0.5em 0;
}

.side-panel{
    margin-top: 20px;
    background: #f5f5f5;
    margin-right: 2em;
}

.side-panel li{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.square-list{
    list-style-type: square;
}

#contact iframe{
    margin-bottom: 2em;
    margin-top: 20px;
}

#contact .panel-heading h2
{
    margin-bottom: 0;
}

textarea{
    resize: none;
}

#request_form h1{
    margin-bottom: 0.5em;
}

body{
    min-height: 0 !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-device-width: 480px) {
    .search-nav{
        padding-top: 1em !important;
        padding-bottom: 1em !important;
        border-bottom: 0 !important;
    }
    .search-nav input{
        width: 100%;
    }

    .dropdown-menu{
        margin-right: 3em !important;
    }

    .side-panel{
        margin-right: 2em;
        margin-left:2em;
        padding-top:0.5em;
        padding-bottom:0.5em;
    }

    .second-col{
        padding-top: 0;
    }

    #bottom h3{
        margin-top: 1em !important;
    }

    #bottom{
        padding-top:1em;
    }

    .media-icons{
        padding-top: 0.5em;
    }

    .sm-news-block{
        margin-bottom: 3em;
    }

    .event-body{
        margin-left: 2em;
        padding-bottom: 1em;
        margin-bottom: 2em;
    }

    #contact iframe{
        width:100%;
    }

    .sm-2top{
        margin-top:3em;
    }

    .navbar-toggle{
        margin-top:1em;
        border-color: #f5f5f5 !important;
    }

}